# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/nconsu5/ropa.3consult-ng.com"
PassengerBaseURI "/"
PassengerPython "/home/nconsu5/virtualenv/ropa.3consult-ng.com/3.10/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END