Flask==2.2.5
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
openpyxl==3.1.5
pandas==2.3.0
plotly==6.0.0
psycopg2==2.9.10
SQLAlchemy==2.0.36
streamlit==1.43.2
Werkzeug==3.1.3
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
plotly
werkzeug
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
sqlalchemy
werkzeug
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
sqlalchemy
werkzeug
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
plotly
sqlalchemy
werkzeug
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
plotly
sqlalchemy
werkzeug
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
plotly
sqlalchemy
werkzeug
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
plotly
sqlalchemy
werkzeug
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
plotly
sqlalchemy
werkzeug
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
werkzeug
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
werkzeug
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
plotly
sqlalchemy
werkzeug
flask
flask-login
flask-sqlalchemy
openpyxl
pandas
plotly
sqlalchemy
werkzeug
email-validator
flask
flask-dance
flask-login
flask-sqlalchemy
gunicorn
oauthlib
openpyxl
pandas
plotly
psycopg2-binary
pyjwt
sqlalchemy
werkzeug
email-validator
flask
flask-dance
flask-login
flask-sqlalchemy
gunicorn
oauthlib
openpyxl
pandas
plotly
psycopg2-binary
pyjwt
sqlalchemy
werkzeug
email-validator
flask
flask-dance
flask-login
flask-sqlalchemy
gunicorn
oauthlib
openpyxl
pandas
plotly
psycopg2-binary
pyjwt
sqlalchemy
werkzeug
email-validator
flask
flask-dance
flask-login
flask-sqlalchemy
gunicorn
oauthlib
openpyxl
pandas
plotly
psycopg2-binary
pyjwt
sqlalchemy
werkzeug
email-validator
flask
flask-dance
flask-login
flask-sqlalchemy
gunicorn
oauthlib
openpyxl
pandas
psycopg2-binary
pyjwt
sqlalchemy
werkzeug
email-validator
flask
flask-dance
flask-login
flask-sqlalchemy
gunicorn
oauthlib
openpyxl
pandas
psycopg2-binary
pyjwt
sqlalchemy
werkzeug
